/******************************************** 
Layout
********************************************/

body {
	padding-top: 70px;
}
.container {
	max-width: 100%;
}

#notification {
  float: center;
  text-align: center;
  font-size: 1em;
  margin: .5%;
  color: rgba(230, 184, 0, 1);    
}

.welcome {
  text-align: center;
  margin: 2% 0;
}

.welcome-info {
  text-align: center;
  margin: 2%;
}
.about {
  margin-top: 2%;
}

/******************************************** 
FOOTER
********************************************/

#footer {
  font-size: 1em;
  text-align: center;
  clear: both;
  margin: 0;
  padding-top: 20%;
  color: #000000;  
}

.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

#footer a:hover {
  color: #40404A;
  text-decoration: none;
}

#footer a {
  color: #b22222;
}

/******************************************** 
PAGE: STORIES
********************************************/

.diamondCaper, .anythingButADiamond {
  list-style: none;
  background-color: rgba(221, 221, 221, 1);
  background-size: 5px;
  text-align: center;
}

#overlay {
  background: rgba(0,0,0,0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  text-align: center;
}

#overlay img {
  margin-top: 10%;
}

#overlay p {
  color: white;
  font-size: 1.5em;
  font-stretch: condensed;
  padding: 0em 5em 5em 5em;
  font-family: inherit;    
}

/******************************************** 
PAGE: ABOUT
********************************************/

.profile-photo {
  display: block;
  max-width: 100%;
  margin: 3% auto 1%;
  border-radius: 100%;
}

.website-purchase {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 1em;
}

/******************************************** 
PAGE: CONTACT
********************************************/

#info {
    margin: 5%;
}

.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 1em;
}

.contact-info a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

.contact-info li.phone a {
  background-image: url('../img/phone.png');
}

.contact-info li.mail a {
  background-image: url('../img/mail.png');
}

.contact-info li.facebook a {
  background-image: url('../img/facebook.png');
}

/******************************************** 
COLORS
********************************************/

/* site body */
body {
  background: linear-gradient(to bottom, rgba(195,217,255,1) 0%,rgba(177,200,239,1) 41%,rgba(152,176,217,1) 100%);
  background-attachment: fixed;
  margin: 0;
  color: #000;
  }

/* Black/Silver Gradient NavBar */
.navbar {
  background: linear-gradient(to bottom, rgba(79,79,79,1) 0%,rgba(14,14,14,1) 100%);
}

/* links */
a {
  color: #dc143c;
  text-decoration: none;     
}

a:hover {
  color: #40404A;
  text-decoration: none;
}

/******************************************** 
MEDIA QUERIES
********************************************/

@media screen and (max-width: 400px) {
  @-ms-viewport {
    width: 320px;
  } 
    #anythingButADiamond, #diamondCaper {
      clear: both;
      float: none;
    }
    .about {
        margin-top: 5%;
    }
    #notification {
        font-size: .8em;
    }
}





