/******************************************** 
Layout
********************************************/

body {
	padding-top: 70px;
}
.container {
	max-width: 100%;
}

#notification {
    float: center;
    text-align: center;
    font-size: 1.2em;
    margin: 0;
    color: rgba(230, 184, 0, 1);    
}

.welcome {
    text-align: center;
    margin: 8% 0 5%;
}

.welcome-info {
    text-align: center;
    margin: 2%;
}
.about {
    margin: 0;
    padding-top: 5%;
}

/******************************************** 
FOOTER
********************************************/

#footer {
    margin: 28% 0 0 0;
    padding: 0 .5%;
    width: 100%;
    text-align: center;
    color: lightslategrey;
    font-size: 1em;
    background: linear-gradient(to bottom, rgba(79,79,79,1) 0%,rgba(14,14,14,1) 100%)
}

.social-icon {
    color: blue; 
    width: 20px;
    height: 20px;
    margin: 0 5px;
}

#footer a:hover {
    color: #40404A;
    text-decoration: none;
}

#footer a {
    color: lightsteelblue;
}

/******************************************** 
PAGE: STORIES
********************************************/

.diamondCaper {
    list-style: none;
    background-size: 5px;    
    padding: 10px;
    text-align: center;
    margin: 20px;
}

.anythingButADiamond {
    list-style: none;
    background-size: 5px;    
    padding: 10px;
    text-align: center;
    margin: 20px;
}

#overlay {
    background: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    text-align: center;
}

#overlay img {
    margin-top: 10%;
}

/*
#overlay p {
    color: white;
    font-size: 1.5em;
    font-stretch: condensed;
    padding: 0em 5em 5em 5em;
    font-family: inherit;    
}
*/

/******************************************** 
PAGE: PURCHASE
********************************************/

#table {
    overflow: auto;
    width: 100%;
    }

/******************************************** 
PAGE: ABOUT
********************************************/

.profile-photo {
    display: block;
    max-width: 100%;
    margin: 2% 0 0 45%;
    align-content: center;
    border: 5px solid white;
    -webkit-box-shadow: 5px 5px 5px #111;
            box-shadow: 5px 5px 5px #111; 
}
.morph {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
 
.morph:hover {
  border-radius: 50%;
  -webkit-transform: rotate(360deg);
     -moz-transform: rotate(360deg);
       -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}


.about, .purchase {
    text-align: center;
}

.website-purchase {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1em;
    text-align: center;
}
.awards {
    
}

/******************************************** 
PAGE: CONTACT
********************************************/

#info {
    margin: 5%;
}

.contact-info {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1em;
}

.contact-info a {
    display: block;
    min-height: 20px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding: 0 0 0 30px;
    margin: 0 0 10px;
}

.contact-info li.phone a {
    background-image: url('../img/phone.png');
}

.contact-info li.mail a {
    background-image: url('../img/mail.png');
}

.contact-info li.facebook a {
    background-image: url('../img/facebook.png');
}

/******************************************** 
COLORS
********************************************/

/* site body */
body {
    background: rgba(177,200,239,1);
        /* linear-gradient(to bottom, rgba(195,217,255,1) 0%,rgba(177,200,239,1) 41%,rgba(152,176,217,1) 100%); */
        /* #b30000; */
        /* #bea6dd; */
        /* #76a8f7; */
    background-attachment: fixed;
    margin: 0;
    color: #000;
}

/* Black/Silver Gradient NavBar */
.navbar {
    background: linear-gradient(to bottom, rgba(79,79,79,1) 0%,rgba(14,14,14,1) 100%);
}

/* links */
.welcome-info a {
    color: #dc143c;
    text-decoration: none;
}

.welcome-info a:hover {
    color: #40404A;
    text-decoration: none;
}

a {
    font-weight: 500;
    color: #40404A;
        /* #000066; */ 
        /* #1501c1; */
    text-decoration: none;     
}

a:hover {
    color: #dc143c;
    text-decoration: none;
}

/******************************************** 
MEDIA QUERIES
********************************************/

@media screen and (max-width: 400px) {
    .gallery {
       margin-bottom: 20%;
    }
    .gallery img {
        width: 50%;
    }
    .anythingButADiamond, .diamondCaper {
        padding: 2%;
    }
    .website-purchase {
        margin: 0 0 30% 0;
    }
    #overlay img {
        visibility: hidden;
    }
/*
    #overlay p {
        font-size: 1.2em;
        font-stretch: ultra-condensed;
        margin: 0;
        padding: 5% 2%;
    }
*/
    .about {
        margin: 0;
    }
    
    #table {
        margin: 0 0 30% 0;
    }
    .profile-photo {
    display: block;
    max-width: 100%;
    margin: 20px 100px 0 100px;
    align-content: center;
    border: 5px solid white;
    -webkit-box-shadow: 5px 5px 5px #111;
            box-shadow: 5px 5px 5px #111; 
    }
    .morph {
  -webkit-transition: none !Important;
     -moz-transition: none !Important;
       -o-transition: none !Important;
      -ms-transition: none !Important;
          transition: none !Important;
    }
    .morph:hover {
  border-radius: 50%;
  -webkit-transform: none !Important;
     -moz-transform: none !Important;
       -o-transform: none !Important;
      -ms-transform: none !Important;
          transform: none !Important;
    }
}

@media screen and (min-width: 400px) {
    .gallery {
       margin-bottom: 20%;
    }
    .gallery img {
        width: 50%;
    }
    .anythingButADiamond, .diamondCaper {
        padding: 5% 10%;
        margin: 10% 15%;
    }
    .welcome, .welcome-info {
        margin: 5%;
    }
    .website-purchase {
        margin: 0 0 30% 0;
    }
    .contact-info {
	  margin: 0 0 20% 0;
    }
    #overlay img {
        visibility: hidden;
    }
/*
     #overlay p {
        font-size: 1.2em;
        font-stretch: ultra-condensed;
        padding: 2%;
        margin: 0 2% 
    }
*/
    .about {
        margin: 0;
    }
    #table {
        margin: 0 0 25% 0;
    }
}

@media screen and (min-width: 600px) {
    .gallery {
       margin-bottom: 10%;
    }
    .gallery img {
        width: 100%;
    }
    .anythingButADiamond, .diamondCaper {
        margin: 5% 25%;
    }
    .welcome, .welcome-info {
        margin: 2%;
    }
    .social-icon {
        padding: 0;
        margin: .5% 0;
    }
    .website-purchase {
        margin: 0 0 10% 0;
    }
     #overlay img {
        margin: 0;
        padding-top: 15%;
        visibility: visible; 
    }
/*
     #overlay p {
        font-size: 1.2em;
        font-stretch: ultra-condensed;
        padding: 2%;
        margin: 0 2% 
    }
*/
    #table {
        margin: 0 0 20% 0;
    }
}

@media screen and (min-width: 800px) {
    .gallery {
        margin: 0 5% 0 0;
        padding: 5% 20%;
    }
    .gallery img {
        width: 100%;
    }
    .anythingButADiamond, .diamondCaper {
        padding: 5% 10%;
        margin: 5% 30%;
    }
    .welcome, .welcome-info {
        margin: 2%;
    }
    .social-icon {
        padding: 0;
        margin: .5% 0;
    }
    .website-purchase {
        margin: 0 0 10% 0;
    }
     #overlay img {
        margin: 0;
        padding-top: 10%;
        visibility: visible;  
    }
/*
     #overlay p {
        font-size: 1.4em;
        font-stretch: ultra-condensed;
        padding: 2%;
        margin: 0 2% 
    }
*/
    #table {
        margin: 0 0 10% 0;
    }
}



