@media (min-width: 320px) and (max-width: 568px)

  #nav ul {
    display:none;
  }  
    
    
@media (min-width: 568px) {
 
  /***********************************
  TWO COLUMN LAYOUT
  ***********************************/
    
    #primary {
    width: 50%;
    float: left;
  }
  
  #secondary {
    width: 40%;
    float: right;
  }

.left, .right {
    float: none;
    text-align: center;
    margin: -5%;
    padding: 1%;
}
    
/***********************************
  PAGE: Stories
***********************************/

#gallery li {
  width: inherit;    
  }

#gallery li:nth-child(4n) {
    clear: left;
  }
    
.right, .left {
    text-align: center;
    float: none;
}

/***********************************
  PAGE: ABOUT
***********************************/

.profile-photo {
    float: left;
    margin: 0 5% 80px 0;
  }

}
 
/***********************************
  HEADER
***********************************/

  #menu select, #menu button {
    display:none;  
  }
    
  #menu {
    background: none;
    float: right;
    font-size: 1.125em;
    margin-right: 5%;
    text-align: right;
    width: 45%;
  }
  
  #logo {
    float: left;
    margin-left: 5%;
    text-align: left;
    width: 20%;
  }

  h1 {
    font-size: 2.5em;
  }
  
  h2 {
    font-size: 0.825em;
    margin-bottom: 20px;
  }

  header {
    border-bottom: 5px solid rgba(0, 102, 255, 1);
    margin-bottom: 60px;
  }

/*************************************
Page: Stories
*************************************/
    
.left, .right {
  display: inline-block;
 }
}